<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title> Get start</title>
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
    </head>
    <body>
    	<nav class="navbar navbar-descartes navbar-fixed-top topnav" role="navigation">
    		<div class="container topnav">
    			<div class="navbar-header">
    				<img src="/img/descarets.png " height="50"/>
    			</div>
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a href="/addArticle" th:unless="${compte == null}">Add an article</a>
	                    </li>
	                    <li>
	                        <a href="/logout" th:if="${compte != null}">Log out</a>
	                    </li>
	                </ul>
	            </div>
    		</div>
    	</nav>
		<div class="container-fluid" style="margin-top: 80px">
			<!-- Page Content -->
		    <div class="container">
		        <div class="row">
		            <!-- Blog Post Content Column -->
		            <div class="col-lg-8">
		
		                <!-- Title -->
		                <h1><span th:text="${article.title}"></span></h1>
						<hr/>
		                <!-- Author -->
		                <p class="lead">by <span th:text="${compte.identifiant}"></span></p>
		                <!-- Date/Time -->
		                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>	
		                <hr/>
		                <!-- Post Content -->
		                <p class="lead" th:text="${article.text}"></p>
		                
		                <hr/>
		                <h4>Leave a Comment:</h4>
					    <form role="form" th:action="@{/createCommentaire}" method="post">
					        <div class="form-group">
					        	<input type="hidden" th:field="${article.title}" value="${article.title}" />
					         	<textarea class="form-control" rows="3" th:field="${commentaire.text}"></textarea>
					        </div>
					        <button type="submit" class="btn btn-success">Submit</button>
					    </form>			
				      	<p><span class="badge">2</span> Comments:</p> 
				      	<div class="row">
				      	<!-- An example of comment  -->
				      		<div>
					        	<div class="col-sm-2 text-center">
					          		<img src="img/user.jpg" class="img-circle" height="65" width="65" alt="Avatar"/>
					        	</div>
					        	<div class="col-sm-10">
					          		<h4>Anja <small>Sep 29, 2015, 9:12 PM</small></h4>
					          		<p>Keep up the GREAT work! I am cheering for you!! </p>
					          		<br/>
					        	</div>
					        </div>
		    				<div th:each="commentaire : ${commentaires}">
		    					<div class="col-sm-2 text-center">
				          			<img src="/img/user.jpg" class="img-circle" height="65" width="65" alt="Avatar"/>
				        		</div>
			    				<div class="col-sm-10" >
					          		<h4><span th:text="*{compte.identifiant}"></span><small> Sep 25, 2015, 8:25 PM</small></h4>
					          		<p><span th:text="${commentaire.text}"></span>></p>
					          		<br/>
			    				</div>
			    			</div>
		    			</div>
		           </div>
		        </div>
		    </div>
		</div>
    </body>
 </html>